html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bolder;
}

body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
}

header {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 50px;
}
@media (max-width: 1200px) {
  header {
    flex-direction: column;
  }
}
header #about-container {
  width: 45vw;
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 24px;
  box-shadow: 0px 0px 20px -5px gray;
  overflow: hidden;
}
@media (max-width: 1200px) {
  header #about-container {
    width: 40vw;
    top: 12vw;
    position: absolute;
    z-index: -1;
    flex: none;
    display: block;
    height: -moz-fit-content;
    height: fit-content;
  }
}
header #about-container h2 {
  font-weight: bold;
  font-size: 2rem;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 1200px) {
  header #about-container h2 {
    position: relative;
    right: 0px;
    font-size: clamp(12px, 2vw, 2rem);
    margin-left: auto;
  }
}
header #about-container .float-container {
  color: #64748b;
  font-size: 16px;
  padding: 8px;
  line-height: 1.5rem;
  font-weight: 500;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  overflow-y: auto;
  max-height: 185px;
}
@media (max-width: 1200px) {
  header #about-container .float-container {
    max-height: -moz-fit-content;
    max-height: fit-content;
    min-width: 280px;
  }
}
header #about-container #links-header {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 8px;
}
header #about-container #links-header img {
  height: 25px;
}
header #about-container .float {
  display: none;
  visibility: hidden;
}
@media (max-width: 1200px) {
  header #about-container .float {
    width: calc(130px + 6vw);
    height: calc(200px - 8vw);
    display: block;
    visibility: visible;
    float: left;
    margin: 8px;
    margin-right: auto;
  }
}
header #about-container .about-text {
  display: flex;
  flex-direction: column;
}
header #main-photo-box {
  width: 50vw;
  max-height: 50vh;
  min-height: 32.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
@media (max-width: 1200px) {
  header #main-photo-box {
    padding: 24px;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 0px;
    flex: none;
  }
}
header #main-photo-box img {
  min-height: 10vh;
  max-height: 40vh;
  min-width: 100%;
  background-color: #64748b;
  flex: 1;
}
@media (max-width: 1200px) {
  header #main-photo-box img {
    width: 20vw;
    max-height: 200px;
    min-height: 300px;
    min-width: 225px;
    margin-right: 18vw;
    position: absolute;
    top: 2vw;
    left: 28vw;
  }
}
header #main-photo-box p {
  color: #ffffff;
  position: relative;
  bottom: 5.5vh;
  padding-right: 10%;
  padding-left: 12.5%;
  font-size: 2.5vw;
  text-wrap: nowrap;
  height: 1px;
  min-width: 100%;
}
@media (max-width: 1200px) {
  header #main-photo-box p {
    top: 5vh;
    right: 19vw;
    position: absolute;
    min-width: 0px;
    font-size: clamp(24px, 4vw, 48px);
    text-shadow: 0px 2px 5px black;
  }
}

main {
  width: 50vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 50px;
  padding-bottom: 100px;
}
@media (max-width: 1200px) {
  main {
    padding: 16px 1vw;
    width: 50vw;
  }
}
main .main-header {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  main .main-header {
    max-width: calc(350px + 1vw);
  }
}
main .main-header h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
  padding-left: 1.15vw;
}
@media (max-width: 1200px) {
  main .main-header h2 {
    padding-left: 0px;
  }
}
main #cardBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  flex-direction: row;
  gap: 3vw;
  align-content: center;
  max-width: 50vw;
  min-width: 600px;
}
@media (max-width: 1200px) {
  main #cardBox {
    height: 100%;
    max-width: calc(350px + 1vw);
    min-width: 0px;
    gap: 1vw;
  }
}
main #cardBox .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  width: calc(14vw - 36px);
  background-color: #e2e8f0;
  box-shadow: 6px 7px 10px -5px gray;
  min-width: 132px;
  height: calc(14vw - 36px);
}
@media (max-width: 1200px) {
  main #cardBox .card {
    min-width: 175px;
  }
}
main #cardBox .card img {
  width: 25px;
  height: 25px;
}
main #cardBox .card .project-container-upper {
  background-color: #0069ed;
  width: 100%;
  height: 60%;
  flex: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(14px, 2vw, 1.5rem);
}
main #cardBox .card .project-container-upper p {
  text-align: center;
}
main #cardBox .card .project-container-lower {
  padding: 8px;
  flex: none;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
main #cardBox .card .project-container-lower p {
  font-size: clamp(12px, 0.5vw, 18px);
  text-wrap: wrap;
  overflow: hidden;
  overflow-y: auto;
  max-height: 100%;
  min-height: 40px;
  width: 100%;
  color: #64748b;
}
main #cardBox .card .project-container-lower .project-name-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
main #cardBox .card .project-container-lower .project-name-container h3 {
  margin-right: auto;
  font-size: clamp(14px, 1vw, 18px);
}

footer {
  background-color: teal;
  width: 50vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
}
@media (max-width: 1200px) {
  footer {
    padding: 10% 10%;
    gap: 24px;
  }
}
footer .footer-container-right {
  width: 60%;
  height: 100%;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  footer .footer-container-right {
    width: 150px;
  }
}
footer .footer-container-right > img {
  width: 100%;
  height: 100%;
  flex: none;
}
@media (max-width: 1200px) {
  footer .footer-container-right > img {
    width: 200px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
footer .footer-container-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  color: #ffffff;
  flex: 1;
  font-size: clamp(12px, 1vw, 18px);
  width: auto;
  height: 100%;
}
@media (max-width: 1200px) {
  footer .footer-container-left {
    justify-content: center;
  }
}
footer .footer-container-left h2 {
  font-size: clamp(18px, 2vw, 48px);
}
footer .footer-container-left .address {
  display: flex;
  flex-direction: column;
}
footer .footer-container-left .links-footer {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
footer .footer-container-left .links-footer img {
  width: 30px;
  height: 30px;
}
footer .footer-container-left .contacts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .footer-container-left .contacts img {
  width: 1rem;
  height: 1rem;
}
footer .footer-container-left .contacts .phone {
  display: flex;
  gap: 4px;
  align-items: center;
}
footer .footer-container-left .contacts .email {
  display: flex;
  gap: 4px;
  align-items: center;
}

#background-box {
  background-color: teal;
  width: 100vw;
  height: 60vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
  transform: translate(-20vw, -30vh) rotate(345deg);
  overflow: hidden;
  position: absolute;
  box-shadow: -20px -1px 20px -5px gray;
}

#main-container {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  z-index: 0;
  align-items: center;
}

#background-container {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 50vw;
  height: 50vh;
  z-index: -1;
  top: 0px;
}
@media (max-width: 1200px) {
  #background-container {
    top: -75px;
  }
}

a:hover {
  cursor: pointer;
}

html {
  background-color: black;
}