html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bolder;
}

body {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
}

header {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 50px;

  #about-container {
    width: 45vw;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 24px;
    box-shadow: 0px 0px 20px -5px gray;
    overflow: hidden;

    h2 {
      font-weight: bold;
      font-size: 2rem;
      padding: 8px;
    }

    p {
      color: #64748b;
      max-height: 240px;
      overflow: hidden;
      overflow-y: auto;
      font-size: 16px;
      padding: 8px;
      line-height: 1.5rem;
      font-weight: 500;
    }

    #links-header {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      padding: 8px;

      img {
        height: 25px;
      }

    }
  }

  #main-photo-box {
    width: 50vw;
    max-height: 50vh;
    min-height: 32.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;

    img {
      min-height: 10vh;
      max-height: 40vh;
      min-width: 100%;
      background-color: #64748b;
      flex: 1;
    }

    p {
      color: #ffffff;
      position: relative;
      bottom: 5.5vh;
      padding-right: 10%;
      padding-left: 12.5%;
      font-size: 2.5vw;
      text-wrap: nowrap;
      height: 1px;
      min-width: 100%;
    }
  }
}

main {
  width: 50vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 50px;
  padding-bottom: 100px;

  h2 {
    align-self: flex-start;
    font-size: 2rem;
  }

  #cardBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    flex-direction: row;
    gap: 3vw;
    align-content: center;
    max-width: 50vw;
    min-width: 600px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 200px;
      width: calc(14vw - 36px);
      background-color: #e2e8f0;
      box-shadow: 6px 7px 10px -5px gray;
      min-width: 132px;
      height: calc(14vw - 36px);

      img {
        width: 25px;
        height: 25px;
      }

      .project-container-upper {
        background-color: #0069ed;
        width: 100%;
        height: 60%;
        flex: none;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(14px, 2vw, 1.5rem);

        p {
          text-align: center;
        }
      }

      .project-container-lower {
        padding: 8px;
        flex: none;
        height: 40%;
        display: flex;
        flex-direction: column;
        gap: 4px;

        p {
          font-size: clamp(12px, .5vw, 18px);
          text-wrap: wrap;
          overflow: hidden;
          overflow-y: auto;
          max-height: 100%;
          min-height: 40px;
          width: 100%;
          color: #64748b;
        }

        .project-name-container {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 12px;

          h3 {
            margin-right: auto;
            font-size: clamp(14px, 1vw, 18px);
          }
        }
      }
    }
  }
}

footer {
  background-color: teal;
  width: 50vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;

  >img {
    width: 250px;
    height: 250px;
    flex: 1;
  }

  .footer-container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    color: #ffffff;
    flex: 1;
    font-size: clamp(14px, 1vw, 18px);

    h2 {
      font-size: clamp(18px, 2vw, 48px);
    }

    .address {
      display: flex;
      flex-direction: column;
    }

    .links-footer {
      display: flex;
      justify-content: flex-start;
      gap: 8px;

      img {
        width: 35px;
        height: 35px;
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      gap: 4px;

      img {
        width: 25px;
        height: 25px;
      }

      .phone {
        display: flex;
        gap: 4px;
        align-items: center;
      }

      .email {
        display: flex;
        gap: 4px;
        align-items: center;
      }
    }
  }
}

#background-box {
  background-color: teal;
  width: 100vw;
  height: 60vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
  transform: translate(-20vw, -30vh) rotate(345deg);
  overflow: hidden;
  position: absolute;
  box-shadow: -20px -1px 20px -5px gray;
}


#main-container {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  z-index: 0;
}

#background-container {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 50vw;
  height: 50vh;
  z-index: -1;
  top: 0px;
}

a:hover {
  cursor: pointer;
}

html {
  background-color: black;
}